.gallery{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    cursor: pointer;

}
.pics{
    display: flex;
    width: 400.800px;
    height: 408px;
    padding-right: 20px;
    padding-bottom: 20px;
    position:relative;
    left:10px;
    margin:5px;
}
@media (max-width:400px) {
    .gallery{
        justify-content: flex-start;
    }
    .pics{
        padding:2px;
        flex-grow:200;
        width:160.800px;
        height:228px;
        position: relative;
        left:1px;
        overflow-x: hidden;
        margin: 2px; 
        object-fit: contain;  
    }
    
}
